/* @font-face {
  font-family: 'PingFang Regular', sans-serif;
  src: url('/public/font/PINGFANG-REGULAR.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

.root {
  width: 100%;
  font-family: 'PingFang SC';
  /* color: brown; */
  /* font-family: 'HANSON BOLD'; */
  /* max-width: 100%; */
}

.root div {
  max-width: 100%;
  /* padding: 24px 0; */
}

.root p {
  color: #5F6D7E;
  line-height: 24px;
  font-size: 15px;
  max-width: 100%;
  /* word-wrap: pre-line; */
  word-break: break-all;
  padding-bottom: 12px;
  /* text-indent: 2em; */
}

.root em {
  max-width: 100%;
}

.root ul {
  /* list-style-type: none; */
  margin: 0;
  /* padding: 24px; */
  padding: 0 24px 12px 24px;
  color: #5F6D7E;


}
.root ol {
  /* list-style-type: none; */
  margin: 0;
  padding: 0 24px 12px 24px;
  color: #5F6D7E;
  /* padding: 24px; */

}

.root li {
    line-height: 24px;
  font-size: 15px;
  padding-left: '44px';
  margin-left: '44px';
  left: '44px';
  color: #5F6D7E;


  /* list-style-type: 'none'; */
}

.root h1 {
  margin-bottom: 30px;
}

.root h2 {
  margin: 30px 0 20px 0;
}

.root a {
  text-decoration: underline;
  color: #0F0F0F;
}

.root img {
  /* padding: 12px 0; */
  width: 100%;
  /* height: 100%; */
}